---
import type { Education } from "../../data";

export interface Props {
  educations: Education[];
}

const { educations } = Astro.props;
---

<section
  class="flex items-start justify-between flex-col sm:flex-row dark:text-gray-100 mt-16"
  id="education"
>
  <h2
    class="w-[12rem] font-montserrat text-slate-900 dark:text-slate-200 underline underline-offset-4 mb-4 md:mb-0"
  >
    Education
  </h2>
  <div class="w-full flex gap-10 flex-col">
    {
      educations.map((education) => (
        <div class="md:pl-8 md:border-l md:border-slate-700">
          <div class="flex justify-between items-center flex-wrap">
            <h3 class="text-xl font-semibold font-montserrat">
              {education.name}
            </h3>
            <p class="text-sm dark:text-gray-100">
              {education.startDate} - {education.endDate}
            </p>
          </div>
          <p class="text-sm mt-1 text-slate-500 dark:text-slate-400">
            {education.location}
          </p>
          <ul class="list-disc mt-4 list-inside">
            {education.description.map((item) => (
              <li class="text-slate-500 dark:text-slate-400" set:html={item} />
            ))}
          </ul>
        </div>
      ))
    }
  </div>
</section>
