---
import "@fontsource/montserrat";
import "@fontsource/lora";

import { SEO } from "astro-seo";
import Footer from "@components/general/Footer.astro";
import Header from "@components/general/Header.astro";

import { meta, Meta, personalInfo, socialMediaProfiles } from "@data";

import "../styles/style.css";
import ProgressBar from "@components/ui/ProgressBar.astro";

export interface Props {
  meta: Meta;
  title: string;
}

const { title, gaId } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <SEO
      title={title}
      description={meta.description}
      openGraph={meta.openGraph}
      twitter={meta.twitter}
    />
    <script
      is:inline
      async
      src={`https://www.googletagmanager.com/gtag/js?id=${gaId}`}
    ></script>
    <script is:inline define:vars={{ gaId }}>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        window.dataLayer.push(arguments);
      }
      gtag("js", new Date());
      gtag("config", gaId);
    </script>
  </head>
  <body>
    <ProgressBar />
    <Header />
    <main class="container">
      <slot />
    </main>
    <Footer
      name={personalInfo.name}
      socialMediaProfiles={socialMediaProfiles}
    />
  </body>
</html>
